body{
    margin: 0;
    padding: 0;
    background-color: rgb(215, 215, 215);
}

h1{
    margin: 20px;
    text-align: center;
    background-color: #fff;
    border: 4px solid #ffff00;
    padding: 10px 0;
}
.ota{
    width: 150px;
    height: 150px;
    border: 4px solid #000;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h2{
    margin: 0px;
}
.bola{
    width: 150px;
    height: 150px;
    background:  rgb(154, 218, 37);
    /*  transform: rotateZ(100deg); */
    /* transform-origin: 0% 0%;  */
    /* transform: skewX(20deg); */
    /* transform: scale(.5); */
    transition: transform 2s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

}

.ota:hover .bola{
    transform: translate(300px,0px);
}


.smt{
    padding: 10px 10px; 
    margin-left: 20px;
    font-size: 18px;
    background-color: #fff;
    border-radius: 5px;
    color: #007bff;
    text-decoration: none;
    border: 1.5px solid #007bff;
    transition-duration: 1s;
}

.smt:hover{
    transform: rotateZ(360deg);
    background-color: #007bff;
    color: #fff;
    cursor: pointer;

}
